// Colours
$info: #1e92f4;
$warning: #FFC107;
$error: #cc3300;

// UI Colors:
$primary-color:         #3F51B5;
$primary-color-dark:    #303F9F;
$primary-color-light:   #455a64;

$light-text-color:      #EEEEEE;
$dark-text-color:       #212121;
$divider-color:         #BDBDBD;
$dark-divider-color:    #3A3A3A;

// Generic Colors
$grey:                  #757575;
$gold:                  #FFC107;

// Font sizes
//$default: 1em;
//$big: 2.8em;

$default: 1em;
$big: 3em;
